/*Typogaphy*/
@font-face {
    font-family: 'belligerent_madnessregular';
    src: url('./font/belligerent-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.font {
    font-family: "belligerent_madnessregular";
}
/*Colors*/
.color-primary {
    background-color: #f3e9f0;
}
.color-secondary{
    color: #281826;
}
.color-tertiary {
    background-color: #a064cd;
}
/*Navigation*/
.active {
    color: #a064cd;
    font-weight: 700;
}
.nav-link:hover {
    width: fit-content;
    color: #a064cd;
    border-bottom: #a064cd 2px solid;
}
.shoppingCart {
    color: #a064cd;
}