/*Typogaphy*/
@font-face {
    font-family: 'belligerent_madnessregular';
    src: url('./font/belligerent-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.font {
    font-family: "belligerent_madnessregular";
}
/*Colors*/
.color-primary {
    background-color: #f3e9f0;
}
.color-secondary{
    color: #281826;
}
.color-tertiary {
    background-color: #a064cd;
}
/*Navigation*/
.active {
    color: #a064cd;
    font-weight: 700;
}
.nav-link:hover, .nav-link:focus {
    width: fit-content;
    color: #a064cd;
    border-bottom: #a064cd 2px solid;
}
.shoppingCart {
    color: #a064cd;
}
/*Homepage Card*/
.card-home {
    width: 23rem;
}
.card-img-top-home {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}
.card-title {
    font-family: "belligerent_madnessregular";
    color: #281826;
    font-size: xx-large;
}
.card-link:hover {
    border: none;
}
.btn-product {
    color: #fff;
    margin-top: -60px;
    padding: 10px 20px 10px 20px;
}
.btn-product:hover {
    color: #fff;
    transform: scale(0.91);
}
/*ProductPage*/
.card-product {
    width: 50rem;
}
.card-img-top-product {
    width: 100%;
    height: 35vw;
    object-fit: cover;
}
.btn-outline-secondary {
    background-color: #a064cd;
    color:#fff;
}
.btn-outline-secondary:hover {
    background-color: #a064cd;
    transform: scale(1.05);
}
/*Focus*/
.focus:focus{
    transform: scale(1.07);
}
/*Cart*/
.imgForCart {
    width: 120px;
}